@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
    box-sizing: border-box;
} 

body {
    background-image: url("img/timer3.jpeg");
    background-size: cover;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h1{
    font-weight: normal;
    font-size: 4rem;
    text-align: center;
    margin-bottom: -2rem;
}

.container{
    display: flex;
    flex-wrap: wrap; /* mobile responsive */
    justify-content: center;
}

.big-text{
    font-weight: bold;
    font-size: 5rem;
    line-height: 3;
    margin: 0 2rem;
    margin-bottom: -5rem;
}

.countdown {
    text-align: center;
}

.countdown span{
    margin-bottom: 6rem;
    font-size: 1rem;
    margin-top: 5rem;
    
}